<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Categorías</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Lista de categorías -->
  <ion-list>
    <ion-item *ngFor="let category of categories">
      {{ category["name"] }}
      <!-- Botón para editar categoría -->
      <ion-button slot="end" fill="outline" (click)="openCategoryModal(category['id'], category['name'])">
        Editar
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="openCategoryModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>