<ion-header>
  <ion-toolbar>
    <ion-title>{{ categoryId ? 'Actualizar Categoría' : 'Nueva Categoría' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Nombre de la Categoría</ion-label>
    <ion-input [(ngModel)]="categoryName" name="categoryName"
      placeholder="Ingresa el nombre de la categoría"></ion-input>
  </ion-item>

  <ion-footer>
    <ion-button expand="full" (click)="save()">Guardar</ion-button>
  </ion-footer>
</ion-content>