<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tareas Pendientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let task of tasks">
      <ion-item>
        <ion-label>
          <h2>{{ task["title"] }}</h2>
          <p>Fecha para realizar:
            {{ task["dateToPerform"] | date:'dd-MM-yyyy' }}</p>
          <p>Prioridad: {{ task["priorityName"] }} | Categoría: {{ task["category"] }}</p>
        </ion-label>
        <ion-buttons slot="end">
          <ion-button (click)="showTaskDetail(task)">
            <ion-icon name="eye-outline"></ion-icon>
          </ion-button>
          <ion-button (click)="openTaskModal(task)">
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>
          <ion-button (click)="delete(task['id'])">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
          <ion-button (click)="completed(task['id'])">
            <ion-icon name="checkmark-circle-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="openTaskModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>